FIELDSET.popular_search { margin:0px 13px; padding:6px 13px; display:none; }
FIELDSET.popular_search LEGEND { padding-bottom:6px; }
HR { height:1px; padding:0px; margin:5px 0px 3px 0px; border:0px solid #cccccc; color:#ccc; }

